{% load static %}

<!doctype html>
<html>
    <head>
        <title>Create A Book Review</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to list</a>
              </nav>
        </header> 
    <main>
        <div class="book-review-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                  <button>Submit</button>
                </div>
              </form>
    </main>
    </body>
    <footer>
        <div>Copyright 2022 by Allisha Reyes

        </div>
        <p>This website contains all of my book reviews that I
            update when I read a new book and that you can read and
            see if you would enjoy that book!
        </p>
    </footer>
   
</html> 